.footer {
    background-color: darkblue;
    color: lightgrey;
    min-height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.footer-icon img {
    padding-right: 10px;
}